<div class="row justify-content-center flex-column align-items-center">
  <div class="col-12">
    <img src="../../../assets/image/logo.jpg" class="logo d-block m-auto" />
  </div>
  <div class="col-3 mb-2 playground">
    <a
      class="btn btn-primary d-block m-auto rounded-pill"
      [routerLink]="['playground']"
      >Vào chơi thoy</a
    >
  </div>
  <div class="col-3 mb-2">
    <a
      class="btn btn-primary d-block m-auto rounded-pill"
      [routerLink]="['setting']"
      >Cài đặt</a
    >
  </div>
  <div class="col-3 mb-2">
    <a
      class="btn btn-primary d-block m-auto rounded-pill"
      [routerLink]="['maxpoint']"
      >Bảng xếp hạng</a
    >
  </div>
</div>
