.question {
  height: 200px;
}

.appendix {
  width: 100px;
  height: 100px;
}

.left-center {
  top: 15px;
  left: 15px;
}

.right-center {
  top: 15px;
  right: 15px;
}

.cc {
  margin-bottom: -20px;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}
